.Button {
    background: #4327f5;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0.5rem 1rem;
    font-family: 'Rubik', sans-serif;
}